.jumbotron {
    padding-top: 6rem;
    background-color: #faddff;
}

#projects {
    background-color: #faddff;
}

section {
    padding-top: 5rem;
}

footer {
    background-color: rgb(181, 103, 255);
}